<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container" id="container">
      <form action="" method="POST" id="search-form">
        {% csrf_token %}
        <div class="search-box">
          <i class="bi bi-geo-alt"></i>
          <input
            type="text"
            class="form-control"
            name="city"
            placeholder="{{data.city}}"
          />
          <button class="search-box button" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      {% if error_message %}
      <div class="not-found" id="not-found">
        <div class="box">
          <img
            src="{% static 'images/404.png' %}"
            alt="Location Not Found"
            id="image"
          />
          <p>Oops! Location not found!</p>
        </div>
      </div>
      {% else %}
      <div class="weather-box" id="weather-box">
        <div class="box">
          <div class="info-weather">
            <div class="weather">
              <img
                src="{% static 'images/clouds2.png' %}"
                alt="{{data.description}}"
              />
              <p class="temperature">{{ data.temp }}<span>°C</span></p>
              <p class="description">{{ data.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="weather-details" id="weather-details">
        <div class="humidity">
          <i class="bi bi-water"></i>
          <div class="text">
            <div class="info-humidity">
              <span>{{ data.humidity }}%</span>
            </div>
            <p>Humidity</p>
          </div>
        </div>
        <div class="wind">
          <i class="bi bi-wind"></i>
          <div class="text">
            <div class="info-wind">
              <span>{{ data.wind }} km/hr</span>
            </div>
            <p>Wind Speed</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
